[submodule "programenv.cpp_vscode_env"]
	path = programenv/cpp_vscode_env
	url = https://github.com/iot-standards-laboratory/cpp_vscode_env.git
[submodule "programenv.golang"]
	path = programenv/golang
	url = https://github.com/iot-standards-laboratory/programenv.golang.git
[submodule "lecturehw/packetCapture"]
	path = lecturehw/packetCapture
	url = https://github.com/iot-standards-laboratory/lecturehw.packetCapture.git
[submodule "samplecodes/go-coap"]
	path = samplecodes/go-coap
	url = https://github.com/iot-standards-laboratory/samplecode.go-coap.git
